td {
    background-image: url(https://cdn.glitch.com/8b1beacc-937c-4072-93d6-4ae825ab1a7a%2Fnoise.png);
    text-align: center;
    padding: 1rem;
}
h2 {
    text-align: right;
}
th {
    background-image: url(https://cdn.glitch.com/8b1beacc-937c-4072-93d6-4ae825ab1a7a%2Fleopardskin.jpg?1527763317245);
    color: white;
    font-family: 'Rock Salt', cursive;
    text-align: center;
    border:1px solid, #800080;
    padding-top: 5px;
    padding: 1rem;

}

table {
    border-collapse: collapse;
    border:1px solid, #800080;
    border: #800080;
    padding-top: 5px;
    border-spacing: 2px;
     
}

 tr:nth-child(even){
    background: #e495e4;
    width: 60px;
    
}

tr:nth-child(odd){
    background: #ff33cc;
    padding: 10px;

}

tfoot td {
    background-image: url(https://cdn.glitch.com/8b1beacc-937c-4072-93d6-4ae825ab1a7a%2Fleopardskin.jpg?1527763317245);
    color: white;
    font-family: 'Rock Salt', cursive;
    text-align: right;
    padding-top: 5px;
    
}
P {
    color: black;
    font-family: 'Rock Salt', cursive;
    text-align: center;

}
 body {
    padding-top: 5rem;
    
 }
 footer {
    padding-top: 2rem 0;
    text-align: right;
    font-size: 0.7rem;
 }