td {
    background-image: url(https://cdn.glitch.com/8b1beacc-937c-4072-93d6-4ae825ab1a7a%2Fnoise.png);
    text-align: center;
    padding: 1rem;
    
}
h2 {
    text-align: right;
}
th {
    color: white;
    font-family: 'Rock Salt', cursive;
    text-align: center;
    padding: 5px 10px;
    padding: 1rem;
    border:2px solid #800080;
}
.backgroundImage {
    background-image: url(https://cdn.glitch.com/8b1beacc-937c-4072-93d6-4ae825ab1a7a%2Fleopardskin.jpg?1527763317245);
}

table {
    border-collapse: collapse;
    background-image: url(https://cdn.glitch.com/8b1beacc-937c-4072-93d6-4ae825ab1a7a%2Fleopardskin.jpg?1527763317245) !important;
    font-weight: bold;
}

.color2{
    background: #e495e4;
    width: 60px;
    
}

.color1{
    background: #ff33cc; 
    padding: 10px;

}

tfoot td {
    border-right:2px solid #800080;
    color: white;
    font-family: 'Rock Salt', cursive;
    text-align: right;
    padding-top: 5px;
  
}
.noBorder{
    border: none;
}
tfoot tr {
    border:2px solid #800080;
    color: white;
    font-family: 'Rock Salt', cursive;
    text-align: right;
    padding-top: 5px;
  
}
tfoot th {
     border: none;

}
P {
    color: black;
    font-family: 'Rock Salt', cursive;
    text-align: center;

}
 body {
    padding-top: 5rem;
    
 }
 footer {
    padding-top: 2rem 0;
    text-align: right;
    font-size: 0.7rem;
 }